<p>Type the verb you wish to conjugate
  (ie: <a routerLink="/mangiare">🍕mangiare</a>, <a routerLink="/dormire">😴dormire</a>, <a routerLink="/amare">💕amare</a>)
</p>

<form (ngSubmit)="conjugate(searchTerm); searchForm.reset()" (reset)="resetSuggestions()" #searchForm="ngForm">
  <input type="text" required
         autocomplete="off" autocapitalize="none" autocorrect="off" spellcheck="false"
         name="verb"
         [(ngModel)]="searchTerm"
         (keyup)="search(searchTerm)"
         placeholder="Search verb">
  <button type="submit" [disabled]="!searchForm.form.valid">Search</button>
  <button type="reset" [hidden]="!searchTerm">Reset</button>

  <ul *ngIf="verbs.length" class="search-suggestions">
    <li *ngFor="let verb of verbs">
      <a (click)="resetSuggestions(); searchForm.reset()" routerLink="/{{ verb['italian'] }}">
        {{ verb['italian'] }} <span> - {{ verb['english'] }}</span>
      </a>
    </li>
  </ul>
</form>
