:host {
  display: block;
  margin-bottom: 40px;
}

p {
  font-size: 22px;
}

form {
  position: relative;
  margin: 0 auto;
  max-width: 675px;
  text-align: left;
}

input[type=text] {
  width: 100%;
  padding: 7px 50px 7px 58px;
  border: 1px solid #dedede;
  border-radius: 4px;
  font-size: 22px;
  line-height: 35px;
}

input[type=text]:focus {
  border-color: #bbb;
}

button {
  position: absolute;
  width: 20px;
  height: 20px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0);
}

button[type=submit] {
  top: 16px;
  left: 18px;
  background: url(assets/search-icon.svg) no-repeat;
  background-size: 100% 100%;
}

button[type=reset] {
  top: 18px;
  right: 18px;
  background: url(assets/close-button.svg) no-repeat;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
}

.search-suggestions {
  position: absolute;
  top: 49px;
  overflow: auto;
  width: 100%;
  max-height: 324px;
  padding: 18px;
  border: 1px solid #dedede;
  border-radius: 0 0 4px 4px;
  background-color: rgba(255, 255, 255, 0.97);
  font-size: 22px;
}

.search-suggestions a {
  display: block;
  padding: 5px 40px;
}

.search-suggestions span {
  color: #999;
}
