* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

html, body, button, input, select, textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.3;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

body {
  max-width: 980px;
  min-width: 300px;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
  background: #fff;
}

a {
  color: #2a56c6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: bottom;
}

ol, ul {
  list-style: none;
}

h1, h2, h3 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 20px;
}

h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

h1 a {
  color: #333;
}

h1 a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 40px;
}

button {
  border: 0;
  background-color: #fff;
  cursor: pointer;
}

footer {
  padding: 60px 0;
}

a.contact {
  font-size: 11px;
}
