* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

html, body, button, input, select, textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
  font-weight: 200;
  line-height: 1.5;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

body {
  max-width: 980px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 20px;
  background: #fff;
}

a {
  color: #2a56c6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: bottom;
}

ol, ul {
  list-style: none;
}

h1, h2, h3 {
  font-size: 52px;
  font-weight: 200;
}

p {
  margin-bottom: 12px;
}
