section {
  padding-bottom: 25px;
}

.conjugation-grid {
  display: flex;
  flex-wrap: wrap;
}

article {
  flex: 1 0 200px;
  margin: 15px;
  text-align: left;
}

article h3 {
  border-bottom: 1px solid #dedede;
}

li span {
  color: #999;
}
